:root {
  --color-dark: 230 35% 7%;
  --color-accent: 231 77% 90%;
  --color-white: 0 0% 100%;
  --flex-gap: 1rem;
  --grid-gap: 8rem;
  --family-sans: 'Barlow', sans-serif;
  --family-condensed: 'Barlow Condensed', sans-serif;
  --family-serif: 'Bellefair', serif;

  --font-size-900: 6.311rem;
  --font-size-800: 6.311rem;
  --font-size-700: 3.982rem;
  --font-size-600: 2.512rem;
  --font-size-500: 1.585rem;
  --font-size-400: 1rem;
  --font-size-300: 0.631rem;
}

@mixin mobile {
  @media screen and (max-width: 40em) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 40em) and (max-width: 60em) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 60em) {
    @content;
  }
}

@include tablet {
  :root {
    --font-size-900: 10rem;
    --font-size-800: 6.311rem;
    --font-size-700: 3.982rem;
    --font-size-600: 2.512rem;
    --font-size-500: 1.585rem;
    --font-size-400: 1rem;
    --font-size-300: 0.631rem;
  }
}

@include desktop {
  :root {
    --font-size-900: 10rem;
    --font-size-800: 6.311rem;
    --font-size-700: 3.982rem;
    --font-size-600: 2.512rem;
    --font-size-500: 1.585rem;
    --font-size-400: 1rem;
    --font-size-300: 0.631rem;
  }
}

.fs-900 {
  font-size: var(--font-size-900);
}
.fs-800 {
  font-size: var(--font-size-800);
}
.fs-700 {
  font-size: var(--font-size-700);
}
.fs-600 {
  font-size: var(--font-size-600);
}
.fs-500 {
  font-size: var(--font-size-500);
}
.fs-400 {
  font-size: var(--font-size-400);
}
.fs-300 {
  font-size: var(--font-size-300);
}

body {
  background-color: hsl(var(--color-dark));
  color: hsl(var(--color-white));
  font-family: var(--family-serif);
}

/*
* Utility
*/

.flex {
  display: flex;
  gap: var(--flex-gap);
  &.column {
    flex-direction: column;
  }
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.grow > * {
    flex-grow: 1;
  }
  &.apart {
    justify-content: space-between;
  }
  .flow {
    flex-basis: 100%;
  }

  &.nogap {
    gap: 0;
  }
  &.desktopLeft {
    @include desktop {
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &.mobileCenter {
    @include mobile {
      justify-content: center;
      align-items: center;
    }
  }
}

.center {
  text-align: center;
}

.grid {
  display: grid;
  &.center {
    justify-content: center;
    align-items: center;
  }
}

.number {
  color: hsl(var(--color-accent) / 0.25);
  font-weight: 700;
  margin-right: 0.5em;
  @include tablet {
    display: none;
  }
}

.condensed,
.cond {
  font-family: var(--family-condensed);
}

.serif {
  font-family: var(--family-serif);
}

.sans {
  font-family: var(--family-sans);
}

.ls-1 {
  letter-spacing: 4.75px;
}
.ls-2 {
  letter-spacing: 2.7px;
}
.ls-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.colorbox {
  .box {
    min-height: 8rem;
    background-color: var(--color);
    border: 1px solid hsl(var(--color-accent));
    position: relative;
    p {
      mix-blend-mode: difference;
      position: absolute;
      bottom: 1rem;
      left: 1.5rem;
    }
  }
}

.span-accent {
  span {
    color: hsl(var(--color-accent));
    margin-right: 2em;
  }
}

.text-dark {
  color: hsl(var(--color-dark));
}

.text-white {
  color: hsl(var(--color-white));
}

.text-accent {
  color: hsl(var(--color-accent));
}

.text-role {
  color: hsl(var(--color-accent) / .5);
}

.bg-dark {
  background-color: hsl(var(--color-dark));
}

.bg-white {
  background-color: hsl(var(--color-white));
}

.bg-accent {
  background-color: hsl(var(--color-accent));
}

.explore-btn {
  position: relative;
  display: inline-grid;
  z-index: 1;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  min-height: 14rem;
  text-decoration: none;
  margin: 4rem;


  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    background: hsl(var(--color-white) / 0.05);
    width: 150%;
    height: 150%;
    border-radius: 100%;
    opacity: 0;
    transition: opacity 0.5s linear;
  }
  &:hover {
    &:after {
      opacity: 1;
    }
  }
}


button {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
}

.dot {
  min-height: 1rem;
  aspect-ratio: 1;
  background-color: hsl(var(--color-white) / 0.17);
  border-radius: 100%;
  &:hover {
    background-color: hsl(var(--color-white) / 0.5);
  }

  &:active,
  &:focus,
  &.active {
    background-color: hsl(var(--color-white));
  }
}

.number-slider {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
    aspect-ratio: 1;
    border: 1px solid;
    border-color: hsl(var(--color-white) / 0.17);
    border-radius: 100%;
    &:hover {
      border-color: hsl(var(--color-white) / 0.5);
    }

    &:active,
    &:focus,
    &.active {
      background-color: hsl(var(--color-white));
      color: hsl(var(--color-dark));
      border-color: hsl(var(--color-white));
    }
  }
}

.fill {
  min-height: 100%;
}

.container {
  padding: 1rem;
  padding-bottom: 4rem;
}

.container.home {
  background: transparent no-repeat center center;
  background-image: url('/assets/home/background-home-mobile.jpg');
  background-size: cover;

  @include desktop {
    background-image: url('/assets/home/background-home-desktop.jpg');
  }

  @include tablet {
    background-image: url('/assets/home/background-home-tablet.jpg');
  }
}

.container.crew {
  background: transparent no-repeat center center;
  background-image: url('/assets/crew/background-crew-mobile.jpg');
  background-size: cover;

  @include desktop {
    background-image: url('/assets/crew/background-crew-desktop.jpg');
  }

  @include tablet {
    background-image: url('/assets/crew/background-crew-tablet.jpg');
  }
}

.nav-toggle {
  display: none;
  @include mobile {
    display: block;
  }
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  z-index: 1000;
}

.logo {
  @include mobile {
    position: absolute;
    top: 0;
    left: 2rem;
  }
  min-height: 3rem;
  aspect-ratio: 1;
  padding: 1rem;
}

.main-nav {
  background-color: hsl(var(--color-dark) / 0.5);
  padding: 0 2rem;
  @include mobile {
    background-color: hsl(var(--color-dark) / 0.95);
    z-index: 100;
    --flex-gap: 2rem;
    flex-direction: column;
    padding: 10vh 0;
    position: fixed;
    inset: 0 0 0 25%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
    margin: 0;
    &.shown {
      transform: translateX(0);
    }
    justify-content: flex-start;
    align-items: flex-start;
  }
  @include tablet {
    background-color: hsl(var(--color-white) / 0.05);
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: -1rem -1rem 0 0;
  }
}
@supports (backdrop-filter: blur(2px)) {
  .main-nav {
    background-color: hsl(var(--color-accent) / 0.04);
    backdrop-filter: blur(50px);
  }
}

ul {
  margin: 0;
  li {
    cursor: pointer;
    padding: 2rem 0;
    margin: 0 1rem;
    border-bottom: 0.2rem solid transparent;
    &:hover {
      border-bottom-color: hsl(var(--color-accent) / 0.5);
    }
    &:active,
    &:focus,
    &.active {
      border-bottom-color: hsl(var(--color-accent));
    }

    @include mobile {
      border-bottom: 0;
      width: 100%;
      position: relative;
      text-align: start;
      padding: .5rem 2rem;
      margin: 0;
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0.3rem;
        height: 100%;
        background-color: transparent;
      }
      &:hover {
        &:before {
          background-color: hsl(var(--color-accent) / 0.5);
        }
      }

      &:active,
      &:focus,
      &.active {
        &:before {
          background-color: hsl(var(--color-accent));
        }
      }
    }
  }
}

header {
  width: 100%;
  ul {
    --flex-gap: inherit;
  }
}

main {
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    p {
      text-align: left;
    }
  }
}

.image-container {
  position: relative;
  width: clamp(12rem, 30vw, 32rem);
}

.crew main {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2rem var(--grid-gap);
  @include mobile {
    grid-template-areas: "title" "image" "dots" "text";
  }
  @include tablet {
    grid-template-areas: "title" "text" "dots" "image";
    span.number {
      display: inline-block;
    }
  }

  @include desktop {
    grid-template-areas: "title image" "text image" "dots image";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr min-content;
  }
}
